body {
	background: url("images/japaniselantern.jpg");no-repeat center fixed;
	background-color: rgb(203, 172, 255);
	background-size: cover;
  	color: rgb(32, 32, 32);
  	font-family: 'Open Sans', sans-serif;
  	font-size: 18px;
  	text-align: center;
}
h1 {
	font-family: 'Open Sans';
	color: rgb(32, 32, 32);
	text-align: center; 
	font-size:25px;
	font-weight:bold;
}
p {
	font-family: 'Open Sans';
	color:  rgb(32, 32, 32);
	text-align: left; 
	font-size: 20px;
}