* { margin:0;padding:0;box-sizing:border-box; }
body {
  	color: rgb(32, 32, 32);
  	font-family: 'Open Sans', sans-serif;
  	font-size: 18px;
}
section {
	padding:4em 0 4em 0;	
}
section#splash {
	background: url("images/japaniselantern.jpg") no-repeat center fixed;
	background-color: rgb(203, 172, 255);
	background-size: cover;
	color:#ffffff;
}
section#about {
	
}
section#contact {
	background-color:#dddddd;
}
div {
	
}
h1 {
	font-size: 2em;
<<<<<<< HEAD
	font-weight:bold;
	margin: 2em;
=======
	font-weight:700;
>>>>>>> origin/master
}
p {
	line-height: 1.2em;
	margin: 1em 0 1em 0;
}
li {
	margin-bottom:1em;
}
