* { margin:0;padding:0;box-sizing:border-box; }
body {
	background: url("images/japaniselantern.jpg") no-repeat center fixed;
	background-color: rgb(203, 172, 255);
	background-size: cover;
  	color: rgb(32, 32, 32);
  	font-family: 'Open Sans', sans-serif;
  	font-size: 18px;
}
h1 {
	font-size: 2em;
	font-weight:700;
}
p {
	line-height: 1.2em;
	margin: 2em 0 2em 0;
}
ul {
	text-align:center;
}
